<div class="center jumbotron">
  <h1>欢迎来到王希希的小窝</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="row">
  <div class="col-md-4 div-center">
    <div class="thumbnail">
    <%= link_to image_tag("kitten.jpg", alt: "Rails logo"),'http://rubyonrails.org/' %>
    </div>
  </div>
</div>